@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCD1BD;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 60px;
}

header img {
    width: 250px;
    height: auto;
    margin-left: -40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-family: "Cormorant Garamond", serif;
}

nav a:hover{
    color: #6f806d;
}

.shopimage {
    position: relative;
}

.hero-image {
    width: 100%;
    display: block;
}

.image-text {
    font-size: 15px;
    font-family: "Zen Old Mincho", serif;
    color: #fff;
    position: absolute;
    right: 60px;
    bottom: 30px;
}

.concept {
    margin-top: 50px;
    padding-bottom: 60px;
}

.section-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    padding-top: 70px;
    gap: 6px;
}

.leaf-icon {
    width: 40px;
}

.concept-text {
    font-family: "Noto Serif JP", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.staff-image {
    width: 500px;
    margin-left: -80px;
    font-size: 16;
}

.concept-text p {
    max-width: 420px;
    line-height: 2.5;
    font-size: 18px;
    text-align: center;
}

.lineup {
    background-color: #ede7dd;
}

.main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
}

.main-item h3 {
    font-family: "Noto Serif JP", serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main-item-image {
    width: 480px;
    margin-left: -90px;
}

.main-item-text {
    font-family: "Noto Serif JP", serif;
    max-width: 420px;
    line-height: 2.5;
    font-size: 18px;
    text-align: center;
}

.sub-items {
display: flex;
justify-content: center;
gap: 200px;
margin-top: 50px;
margin-bottom: 40px;
}

.sub-items h3 {
    font-family: "Noto Serif JP", serif;
    font-size: 18px;
}

.sub-items p {
    font-family: "Noto Serif JP", serif;
    font-size: 18px;
}

.sub-item {
    text-align: center;
    line-height: 2;
}

.sub-item img {
    width: 250px;
}

.button {
    font-family: "Cormorant Garamond", serif;
    display: inline-block;
    padding: 12px 24px;
    background-color: #CCD3B8;
    text-decoration: none;
    font-size: 15px;
    margin-left: 85%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.button:hover {
    color: #fff;
}

.line-accent {
    width: 80%;
    border: none;
    border-top: 1px solid #6f806d;
    margin: 0 auto;
}

.gift {
    background-color: #ede7dd;
    padding-bottom: 60px;
}

.gift-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.gift-content img {
    width: 430px;
    margin-right: -90px;
}

.gift-text h3 {
    font-family: "Noto Serif JP", serif;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.gift-text p {
    font-family: "Noto Serif JP", serif;
    max-width: 420px;
    line-height: 2.5;
    font-size: 18px;
    text-align: center;
}

.news {
    background-color: #DCD1BD;
    padding-bottom: 80px;
}

.news-item {
    display: flex;
    align-items: center;
    width: 800px;
    margin: 20px auto;
    padding: 18px 30px;
    background-color: #ede7dd;
}

.news-date {
    font-family: "Noto Serif JP", serif;
    width: 180px;
    background: #ede7dd;
}

.news-text {
    font-family: "Noto Serif JP", serif;
    background: #ede7dd;
}

.news-text:hover {
    color: #6f806d;
}

.access {
    background-color: #ede7dd;
}

.access-text {
    font-family: "Noto Serif JP", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    line-height: 2.5;
    padding-bottom: 50px;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding-bottom: 50px;
}

.instagram-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
}

.instagram-account img {
    width: 250px;
    margin-bottom: 10px;
}

.instagram-text p {
    font-family: "Noto Serif JP", serif;
    line-height: 2.5;
    font-size: 18px;
}

footer {
    background-color: #DCD1BD;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 14px;
    font-family: "Cormorant Garamond", serif;
}

@media screen  and (max-width: 768px) {
    .logo {
        width: 100px;
        margin-left: 0;
        height: auto;
        flex-shrink: 0;
    }
    
    nav ul {
        gap: 4px;
    }

    nav a {
        font-size: 10px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .image-text {
        left: 20px;
        right: auto;
        bottom: 20px;
        font-size: 10px;
    }

    .concept-text {
        flex-direction: column;
        gap: 30px;
    }

    .staff-image {
        width: 90%;
        margin-left: 0;
    }

    .concept-text p {
        max-width: 90%;
        text-align: center;
    }

    .main-item {
        display: block;
    }

    .main-item-image {
        width: 100%;
        max-width: 350px;
        display: block;
        margin: 0 auto 20px;
    }

    .main-item-text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .sub-items {
        display: block;
    }

    .sub-item {
        margin-bottom: 30px;
    }

    .sub-item img {
        width: 100%;
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }

    .item-text {
        text-align: center;
    }

    .button {
        display: block;
        width: fit-content;
        margin: 30px auto 0;
    }

    .gift-content {
        display: block;
        text-align: center;
    }

    .gift-content img {
        width: 100%;
        max-width: 250px;
        display: block;
        margin: 20px auto;
    }

    .gift-text {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .gift-text h3 {
        text-align: center;
    }

    .gift-text p {
        max-width: 95%;
        text-align: center;
    }

    .news-item {
        width: 90%;
        margin: 20px auto;
        display: block;
        text-align: center;
        padding: 20px 0;
    }

    .news-date {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
        
    .news-text {
        display: block;
    }

    .access-text {
        display: block;
        text-align: center;
        padding-bottom: 40px;
    }

    .access-text iframe {
        width: 90%;
        max-width: 320px;
        height: 220px;
        display: block;
        margin: 0 auto 20px;
    }

    .access-text p {
        text-align: center;
        line-height: 2;
        
    }

    .instagram {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }

    .instagram-text {
        width: 100%;
        margin-bottom: 30px;
    }

    .instagram-text p {
        text-align: center;
        line-height: 2;
        padding: 0 20px;
    }

    .instagram-account {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instagram-account img {
        width: 220px;
        max-width: 100%;
        margin-bottom: 10px;
    }
}
